footer {
    position: fixed;
    bottom: 0px;
    /*
    -webkit-columns: 3;
    -moz-columns: 3;
    -o-columns: 3;
    columns: 3;
    */
}

body {
    min-height: 1000px;
    width: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#characterImage {
    height: 300px;
    width: auto;
    background-repeat: no-repeat;
}

/*
#conversationWords {
    -webkit-animation: mymove 5s infinite;
    -moz-animation: mymove 5s infinite;
    -o-animation: mymove 5s infinite;
    animation: mymove 5s infinite;
}

@-webkit-animation: mymove {
    from {visibility: visible};
    to {visibility: hidden};
}
@-moz-animation: mymove {
    from {visibility: visible};
    to {visibility: hidden};
}
@-o-animation: mymove {
    from {visibility: visible};
    to {visibility: hidden};
}
@-animation: mymove {
    from {visibility: visible};
    to {visibility: hidden};
}
*/
